/*  typography */

// Include Lato font from Google CDN - better performance
@if $font-hosting == 'google' {
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
}

// Include Lato font from local server - better GDPR compliance
@if $font-hosting == 'local' {
  /* lato-regular - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lato-v17-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('/fonts/lato-v17-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/lato-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/lato-v17-latin-ext_latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
    font-display: swap;
  }

  /* lato-italic - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/lato-v17-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Lato Italic'), local('Lato-Italic'),
         url('/fonts/lato-v17-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/lato-v17-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/lato-v17-latin-ext_latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
         font-display: swap;
  }

  /* lato-700 - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/lato-v17-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('/fonts/lato-v17-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/lato-v17-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/lato-v17-latin-ext_latin-700.svg#Lato') format('svg'); /* Legacy iOS */
         font-display: swap;
  }

  /* lato-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/lato-v17-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
         url('/fonts/lato-v17-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/lato-v17-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('/fonts/lato-v17-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/lato-v17-latin-ext_latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
         font-display: swap;
  }
}

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $text-color;
}

p,
.paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-family: $primary-font;
}

small {
  font-size: 88%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 48px;

  @include tablet {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 38px;

  @include tablet {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 15px;
}

.display-3{
  font-size: 3.5rem;
}