{{ define "main" }}
{{ partial "page-header.html" . }}
<section class="section mt-4">
  <div class="container">
    <div class="row">
      {{ range first 1 (where site.RegularPages "Type" "featured") }}
      <div class="col-12 mb-12 pb-5 border-b border-border">
        <div class="row items-center">
          <div class="col-12 md:col-6 mb-4 md:mb-0">
            {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-lg w-full") }}
          </div>
          <div class="col-12 md:col-6">
            <h2><a href="{{ .Permalink }}" class="text-text-dark">{{ .Title }}</a></h2>
            <p class="mt-3 mb-4">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="btn btn-primary">{{ i18n "read_more" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      {{ $paginator := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections) }}
      {{ range $paginator.Pages }}
      <div class="col-12 sm:col-6 lg:col-4 mb-8">
        {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-lg mb-4 w-full" "Size" "460x") }}
        <h3><a href="{{ .Permalink }}" class="text-text-dark">{{ .Title }}</a></h3>
        <p class="mt-2 mb-4">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
      </div>
      {{ end }}
      <div class="col-12 pt-8">
        {{ partial "custom-pagination" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}
