{{ define "main" }} {{ partial "page-header.html" . }}

<section class="section">
  {{ with .Params.subscriptions }}
  <div class="container pricing-container">
    <h2 class="mb-4">{{.title}}</h2>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 mb-3 mb-lg-0 px-3 pl-3 px-lg-0">
        {{ with .basic }}
        <div class="card shadow">
          <div class="card-body text-center py-5">
            <h3 class="mb-4">{{ .name | markdownify }}</h3>
            <span class="price">{{ .price1 }}</span>
            <span>/ {{ .price1_per }}</span>
            <br />
            <span class="price-old">{{ .price2_old }}</span>
            <span class="price">{{ .price2 }}</span>
            <span>/ {{ .price2_per }}</span>
            <p class="lead">{{ .info | markdownify }}</p>
            <ul class="list-unstyled mb-4">
              {{ range .services }}
              <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
            {{ if .button.enable }} {{ with .button }}
            <a
              href="{{ .link | relURL }}"
              title="{{ .label }}"
              class="btn btn-outline-primary"
            >
              {{ .label }}
            </a>
            {{ end }} {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-5 col-recommended">
        {{ with .professional }}
        <div class="card border-0 shadow-lg">
          <div class="card-body text-center py-5">
            <h3 class="mb-4">{{ .name | markdownify }}</h3>
            <span class="price">{{ .price1 }}</span>
            <span>/ {{ .price1_per }}</span>
            <br />
            <span class="price-old">{{ .price2_old }}</span>
            <span class="price">{{ .price2 }}</span>
            <span>/ {{ .price2_per }}</span>
            <p class="lead">{{ .info | markdownify }}</p>
            <ul class="list-unstyled mb-5">
              {{ range .services }}
              <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
            {{ if .button.enable }} {{ with .button }}
            <a
              href="{{ .link | relURL }}"
              title="{{ .label }}"
              class="btn btn-primary"
            >
              {{ .label }}
            </a>
            {{ end }} {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</section>

<!-- call to action -->
{{ if .Params.call_to_action.enable }} {{ with .Params.call_to_action }}
<section class="section">
  <div class="container section shadow rounded-lg px-4">
    <div
      class="row align-items-center justify-content-center text-center text-md-left"
    >
      <div class="col-lg-4 col-md-5 mb-4 mb-md-0">
        <img src="{{ .image | relURL }}" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-5 col-md-6">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        {{with .content }}
        <p class="mb-4">{{ . | markdownify }}</p>
        {{ end }} {{ if .button.enable }} {{ with .button }}
        <a
          href="{{ .link | relURL }}"
          title="{{ .label }}"
          class="btn btn-primary"
        >
          {{ .label }}
        </a>
        {{ end }} {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /call to action -->

{{ end }}
