{{ $paginator := .Paginator }}
{{ $adjacent_links := 2 }}
{{ $max_links := (add (mul $adjacent_links 2) 1) }}
{{ $lower_limit := (add $adjacent_links 1) }}
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
{{ if gt $paginator.TotalPages 1 }}
<nav>
  <ul class="pagination">
    {{ if $paginator.HasPrev }}
    <li class="page-item">
      <a class="page-link arrow" href="{{ $paginator.Prev.URL }}" aria-label="Pagination Arrow">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>
    {{ end }}
    {{ range $paginator.Pagers }}
    {{ $.Scratch.Set "page_number_flag" false }}
    {{ if gt $paginator.TotalPages $max_links }}
    {{ if le $paginator.PageNumber $lower_limit }}
    {{ if le .PageNumber $max_links }}
    {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}
    {{ else if ge $paginator.PageNumber $upper_limit }}
    {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
    {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}
    {{ else }}
    {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
    {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}
    {{ end }}
    {{ else }}
    {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}
    {{ if eq ($.Scratch.Get "page_number_flag") true }}
    <li class="page-item">
      <a href="{{ .URL }}" class="page-link{{ if eq . $paginator }} active{{ end }}">
        {{ .PageNumber }}
      </a>
    </li>
    {{ end }}
    {{ end }}
    {{ if $paginator.HasNext }}
    <li class="page-item">
      <a class="page-link arrow" href="{{ $paginator.Next.URL }}" aria-label="Pagination Arrow">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
