{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}
<section class="section pb-[50px]">
  <div class="container">
    <div class="row text-center">
      <div class="mx-auto lg:col-10">
        <h1 class="font-primary font-bold mb-4">{{ .title | markdownify }}</h1>
        <p class="mb-6">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a class="btn btn-primary" href="{{ .link | safeURL }}">{{ .label }}</a>
        {{ end }}
        {{ end }}
        {{ with .image }}
        {{ partial "image.html" (dict "Src" . "Alt" "banner image" "Class" "mx-auto mt-12") }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- Features -->
{{ with .Params.feature }}
{{ if .enable }}
<section class="section bg-light">
  <div class="container">
    <div class="text-center">
      <h2 class="mb-8">{{ .title | markdownify }}</h2>
    </div>
    <div class="grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
      {{ range .feature_item }}
      <div class="feature-card rounded-xl bg-white p-5 pb-8 text-center">
        <i class="{{ .icon }} text-3xl text-primary mx-auto block mt-2"></i>
        <div class="mt-4">
          <h3 class="h5">{{ .name | title }}</h3>
          <p class="mt-3">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Services -->
{{ with .Params.service }}
{{ if .enable }}
{{ range $i, $p := .service_item }}
{{ $isOdd := modBool $i 2 }}
<section class="section{{ if not $isOdd }} bg-light{{ end }}">
  <div class="container">
    <div class="items-center gap-8 md:grid md:grid-cols-2">
      <div class="service-carousel{{ if $isOdd }} md:order-2{{ end }}">
        {{ if gt (len .images) 1 }}
        <div class="swiper">
          <div class="swiper-wrapper">
            {{ range .images }}
            <div class="swiper-slide">
              {{ partial "image.html" (dict "Src" . "Alt" "Image" "Class" "mx-auto rounded-lg") }}
            </div>
            {{ end }}
          </div>
          <div class="swiper-pagination flex justify-center mt-4"></div>
        </div>
        {{ else }}
        {{ range .images }}
        {{ partial "image.html" (dict "Src" . "Alt" "Image" "Class" "mx-auto rounded-lg") }}
        {{ end }}
        {{ end }}
      </div>
      <div class="service-content mt-5 md:mt-0{{ if $isOdd }} md:order-1{{ end }}">
        <h2 class="font-bold leading-[40px] mb-4">{{ .title | markdownify }}</h2>
        <p class="mb-6">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relURL }}" class="cta-link inline-flex items-center text-primary">
          {{ .label }}
          <img class="ml-1" src="{{ "images/arrow-right.svg" | relURL }}" width="18" height="14" alt="arrow">
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}

<!-- Screenshot/Workflow -->
{{ with .Params.screenshot }}
{{ if .enable }}
<section class="section pb-0">
  <div class="mb-8 text-center">
    <h2 class="mx-auto max-w-[400px] font-bold leading-[44px] mb-4">{{ .title | markdownify }}</h2>
  </div>
  {{ with .image }}
    {{ partial "image" (dict "Src" . "Alt" "workflow image" "Class" "w-full rounded-lg") }}
  {{ end }}
</section>
{{ end }}
{{ end }}

<!-- Call to Action -->
{{ with .Params.call_to_action }}
{{ if .enable }}
<section class="section px-4">
  <div class="section container rounded-xl shadow">
    <div class="row mx-auto items-center justify-center">
      <div class="md:col-5 lg:col-4">
        {{ partial "image" (dict "Src" .image "Alt" "call to action image" "Class" "w-full") }}
      </div>
      <div class="mt-5 text-center md:mt-0 md:text-left md:col-6 lg:col-5">
        <h2 class="mb-4">{{ .title | markdownify }}</h2>
        {{ with .content }}<p class="mb-6">{{ . | markdownify }}</p>{{ end }}
        {{ if .button.enable }}
        {{ with .button }}
        <a class="btn btn-primary" href="{{ .link | relURL }}">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}
