// banner
.banner {
  padding: 80px 0 0;
}

// feature-card
.feature-card {
  border-radius: 10px;
  padding: 20px;
  transition: .2s ease;
  background-color: $white;

  &:hover {
    @extend .shadow;
  }

  svg,i {
    font-size: 30px;
    color: $color-primary;
    display: inline-block;
  }
}

// has-hover-translate
.is-hoverable {
  transition: 0.2s ease;

  &.shadow {
    &:hover {
      transform: translateY(3px);
    }
  }

  &.border {
    &:hover {
      border-color: transparent !important;
    }
  }

  &:hover {
    @extend .shadow;
    transform: translateY(-3px);
  }

  &.shadow-none {
    box-shadow: none !important;
  }
}

.dark {
  .is-hoverable {
    &.shadow-none {
      box-shadow: none !important;
    }
  }
}

// footer-list
.footer-list {
  li {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    padding: 5px 0;
    color: $text-color;

    &:hover {
      color: $color-primary;
    }
  }
}

.dark .footer-list {
  a {
    color: rgba($white, 0.7);

    &:hover {
      color: $color-primary;
    }
  }
}

// social-icons
.social-icons {
  margin-bottom: 0;

  li {
    margin-bottom: 10px;
  }

  a {
    color: $color-primary;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid $color-primary;
    border-radius: 50%;
    display: block;

    &:hover {
      color: $white;
      background-color: $color-primary;
    }
  }
}

.social-icons-alt {
  li a i {
    color: $color-primary;
    transition: color ease-in-out 0.4s;
  }

    // li:hover a i{
    //   color: $color-secondary;
    // }
}

// has-video
.has-video {
  position: relative;
  text-align: center;

  .video-loader-btn {
    border: 0;
    outline: 0;
    position: absolute;
    height: 100%;
    width: calc(100% - 30px);
    top: 0;
    left: 15px;
    color: $white;
    background-color: transparent;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      transition: 0.3s;
      height: 85px;
      width: 85px;
      top: calc(50% - 3px);
      left: calc(50% - 3px);
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      background-color: $white;
      z-index: -1;
      border-radius: 50%;

      @include tablet {
        height: 55px;
        width: 55px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      transition: 0.3s;
      height: 100%;
      width: calc(100% + 30px);
      top: 50%;
      left: 50%;
      margin-top: -3px;
      transform: translate(-50%, -50%) scale(0.16);

      @include tablet {
        transform: translate(-50%, -50%) scale(0.2);
      }

      z-index: -2;
      background-color: rgba($color-primary, 0.65);
      border-radius: 50px;
    }

    i {
      font-size: 27px;

      @include desktop {
        font-size: 20px;
      }

      @include tablet {
        font-size: 17px;
      }
    }

    &:hover {
      color: $color-primary;
      transition-delay: 0.1s;

      &::after {
        margin-top: 0;
        top: 0;
        left: -15px;
        transform: translate(0%, 0%) scale(1);
        @extend .rounded-2;
      }

      &::before {
        transition-delay: 0.1s;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
  }
}

// testimonial-carousel
.testimonial-carousel {
  padding-bottom: 60px;
}

// pricing table
.recommended {
  transform: scale(1.05);
  z-index: 1;

  @include desktop {
    transform: scale(1);
  }
}


// accordion
.accordion-button:not(.collapsed) {
  color: $white;
  background-color: rgba($color-primary, 1);

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 fill=%22%23ffffff%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M1.646 4.646a.5.5.0 01.708.0L8 10.293l5.646-5.647a.5.5.0 01.708.708l-6 6a.5.5.0 01-.708.0l-6-6a.5.5.0 010-.708z%22/%3E%3C/svg%3E");
  }
}

.dark {
  .accordion-button {
    border: 0 !important;
    background-color: rgba($black, 0.1);

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 fill=%22%23ffffff%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M1.646 4.646a.5.5.0 01.708.0L8 10.293l5.646-5.647a.5.5.0 01.708.708l-6 6a.5.5.0 01-.708.0l-6-6a.5.5.0 010-.708z%22/%3E%3C/svg%3E");
    }

    &:not(.collapsed) {
      background-color: rgba($color-primary, 1);
    }
  }
}

// career sidebar
.sidebar-widget {
  padding: 40px 30px;

  @include mobile {
    padding: 30px 20px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.dark .sidebar-widget.bg-white {
  background-color: rgba($black, 0.1) !important;
}

// share-this-post
.share-this-post {
  background-color: #f3f3f3;
  padding: 6px 15px;
  padding-top: 14px;
}

.dark .share-this-post {
  background-color: $dark-body-bg;
}

// products
.dark .products-card {
  background: transparent;
  border-color: #2f3337;
}